
  <h1 class="text-center bg-light h-30"><fa-icon [icon]="faBook"></fa-icon>      Sistema de Gestión de Empleados</h1>


<hr>

<div class="container ">
  <h2 class="bg-light"><fa-icon [icon]="faListAlt"></fa-icon>  Listado de Empleados</h2>
  <div class="row d-flex justify-content-center">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Tipo Identificación</th>
        <th>Número Identificación</th>
        <th>Primer Nombre</th>
        <th>Otros Nombres</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>País de empleo</th>
        <th>Email</th>
        <th>Fecha y Hora de registro</th>
        <th>Estado</th>
        <th>Eliminar Empleado</th>
        <th>Editar Empleado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                    };
        let i = index" [class.active]="i == currentIndex">
        <td scope="row">{{empleado.tipoidentificacion}}</td>
        <td>{{empleado.numeroidentificacion}}</td>
        <td>{{empleado.primernombre}}</td>
        <td>{{empleado.otrosnombres}}</td>
        <td>{{empleado.primerapellido}}</td>
        <td>{{empleado.segundoapellido}}</td>
        <td>{{empleado.paisempleo}}</td>
        <td>{{empleado.email}}</td>
        <td>{{empleado.fechahoraregistro | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{empleado.estado}}</td>
        <td><a (click)="eliminarEmpleado(empleado)"><fa-icon [icon]="faTrashAlt"></fa-icon></a></td>
        <td><a  (click)="editarEmpleado(empleado,modalAcciones)"><fa-icon [icon]="faUserEdit"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls 
      previousLabel="Prev" 
      nextLabel="Next" 
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  
</div>
<button (click)="open(modalAcciones,'create')" class="btn btn-success float-right">Agregar Empleado       <fa-icon [icon]="faUserPlus"></fa-icon></button>
</div>

<!-- Modal -->
<ng-template #modalAcciones let-modal class="modal fade" id="modalAcciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:1250px;">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate #empleado='ngForm' action="" method="POST" >

            <div class="form-group">
              <label >Tipo Identificación </label>
              <small class="text-danger" 
              [class.d-none]='!errorTipoIdentificacion || tipoidentificacion.untouched'>
                  *[ Tipo Identificación is required]
              </small>
              <select name="tipoidentificacion" 
              (blur)='validarTipoIdentificacion(tipoidentificacion.value)' (change)='validarTipoIdentificacion(tipoidentificacion.value)'
              required
              #tipoidentificacion='ngModel'
              [class.is-invalid]='tipoidentificacion.invalid && tipoidentificacion.touched'
              [(ngModel)]='enquiry1.tipoidentificacion' id="" class="form-control">
                  <option value="default">Tipo Identificación</option>
                  <option *ngFor="let tipoidentificacion of tiposidentificacion" value="{{tipoidentificacion}}">{{tipoidentificacion}}</option>
              </select>
          </div>

            <div class="form-group">
              <label >Numero Identificación </label>
              <br>
                <span *ngIf='numeroidentificacion.errors && (numeroidentificacion.invalid && numeroidentificacion.touched)'>
                  <small class="text-danger"  *ngIf='numeroidentificacion.errors.required'> *[ Número Identificación  is required]  </small>
                  <small class="text-danger"  *ngIf='numeroidentificacion.errors.pattern'> *[ Este campo debe ser ingresado con letras mayúsculas, minúsculas, números y/o guiónes y debe contener menos de 20 caracteres]  </small>
                </span>
              <input #numeroidentificacion='ngModel' required name="numeroidentificacion" [(ngModel)]='enquiry1.numeroidentificacion' 
              pattern="[a-zA-Z0-9-]{1,20}"
              [class.is-invalid]= 'numeroidentificacion.invalid && numeroidentificacion.touched '
              class="form-control is-invalid" >
            </div>

            <div class="form-group">
                <label >Primer Nombre </label>
                <br>
                <span *ngIf='primernombre.errors && (primernombre.invalid && primernombre.touched)'>
                  <small class="text-danger"  *ngIf='primernombre.errors.required'> *[ Primer Nombre  is required]  </small>
                  <small class="text-danger"  *ngIf='primernombre.errors.pattern'> *[Este campo debe ser en Mayúsculas, sin acentos, sin la letra Ñ ó ñ y menor a 20 caracteres]  </small>
                </span>
                <input #primernombre='ngModel' required name="primernombre" [(ngModel)]='enquiry1.primernombre' 
                pattern="[ABCDEFGHIJKLMNOPQRSTUVXYZ]{1,20}"
                [class.is-invalid]= 'primernombre.invalid && primernombre.touched '
                class="form-control is-invalid" >
            </div>

            <div class="form-group">
              <label >Otros Nombres </label>
              <br>
              <span *ngIf='otrosnombres.errors && (otrosnombres.invalid && otrosnombres.touched)'>
                <small class="text-danger"  *ngIf='otrosnombres.errors.required'> *[ otros nombres is required]  </small>
                <small class="text-danger"  *ngIf='otrosnombres.errors.pattern'> *[Este campo debe ser en Mayúsculas, sin acentos, sin la letra Ñ ó ñ y menor a 50 caracteres  </small>
              </span>
              <input #otrosnombres='ngModel' required name="otrosnombres" [(ngModel)]='enquiry1.otrosnombres' 
              pattern="[ABCDEFGHIJKLMNOPQRSTUVXYZ]{1,50}"
              [class.is-invalid]= 'otrosnombres.invalid && otrosnombres.touched '
              class="form-control is-invalid" >
          </div>

          <div class="form-group">
            <label >Primer Apellido </label>
            <br>
            <span *ngIf='primerapellido.errors && (primerapellido.invalid && primerapellido.touched)'>
              <small class="text-danger"  *ngIf='primerapellido.errors.required'> *[ Primer Apellido  is required]  </small>
              <small class="text-danger"  *ngIf='primerapellido.errors.pattern'> *[ Este campo debe ser en Mayúsculas, sin acentos, sin la letra Ñ ó ñ y menor a 20 caracteres]  </small>
            </span>
            <input #primerapellido='ngModel' required name="primerapellido" [(ngModel)]='enquiry1.primerapellido' 
            pattern="[ABCDEFGHIJKLMNOPQRSTUVXYZ]{1,20}"
            [class.is-invalid]= 'primerapellido.invalid && primerapellido.touched '
            class="form-control is-invalid" >
        </div>

        <div class="form-group">
          <label >Segundo Apellido </label>
          <br>
          <span *ngIf='segundoapellido.errors && (segundoapellido.invalid && segundoapellido.touched)'>
            <small class="text-danger"  *ngIf='segundoapellido.errors.required'> *[ Segundo Apellido  is required]  </small>
            <small class="text-danger"  *ngIf='segundoapellido.errors.pattern'> *[Este campo debe ser en Mayúsculas, sin acentos, sin la letra Ñ ó ñ y menor a 20 caracteres]  </small>
          </span>
          <input #segundoapellido='ngModel' required name="segundoapellido" [(ngModel)]='enquiry1.segundoapellido' 
          pattern="[ABCDEFGHIJKLMNOPQRSTUVXYZ]{1,20}"
          [class.is-invalid]= 'segundoapellido.invalid && segundoapellido.touched '
          class="form-control is-invalid" >
        </div>
        
        <div class="form-group">
          <label >País de empleo </label>
          <small class="text-danger" 
          [class.d-none]='!errorPaisEmpleo || paisempleo.untouched'>
              *[ País de empleo is required]
          </small>
          <select name="paisempleo" 
          (blur)='validarPaisEmpleo(paisempleo.value)' (change)='validarPaisEmpleo(paisempleo.value)'
          required
          #paisempleo='ngModel'
          [class.is-invalid]='paisempleo.invalid && paisempleo.touched'
          [(ngModel)]='enquiry1.paisempleo' id="" class="form-control">
              <option value="default">Seleccione País de empleo</option>
              <option *ngFor="let paisempleo of paisesempleo" value="{{paisempleo}}">{{paisempleo}}</option>
          </select>
      </div>

      <div class="form-group">
        <label >Área </label>
        <small class="text-danger" 
        [class.d-none]='!errorArea || area.untouched'>
            *[ Área de empleo is required]
        </small>
        <select name="area" 
        (blur)='validarArea(area.value)' (change)='validarArea(area.value)'
        required
        #area='ngModel'
        [class.is-invalid]='area.invalid && area.touched'
        [(ngModel)]='enquiry1.area' id="" class="form-control">
            <option value="default">Seleccione Área</option>
            <option *ngFor="let area of areas" value="{{area}}">{{area}}</option>
        </select>
    </div>

    <div class="form-group">
      <label >Fecha ingreso </label>
      <div class="input-group">
        <input class="form-control" (dateSelect)="onDateSelect($event)" placeholder="yyyy-mm-dd" placement="top-left" 
               name="dp" [minDate]="minDate" [maxDate]="maxDate" [startDate]="startDate"
                [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label >Fecha y Hora de registro </label>
      <br>
      
      <input disabled #fechahoraregistro2='ngModel' name="fechahoraregistro" [(ngModel)]='fechahoraregistro' 
      class="form-control" value="fechahoraregistro">
  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button *ngIf="create" [disabled]='empleado.invalid || errorArea || errorTipoIdentificacion || errorPaisEmpleo' class="btn btn-primary" (click)="guardarEmpleado(); modal.close('')">Agregar Empleado</button>
        <button *ngIf="update" [disabled]='empleado.invalid || errorArea || errorTipoIdentificacion || errorPaisEmpleo' class="btn btn-primary" (click)="actualizarEmpleado(); modal.close('')">Actualizar Empleado</button>
      </div>
    </div>
  
  </div>
</ng-template>

